flask
flask-cors
flask-session
flask-sqlalchemy
yfinance
pandas
requests
pytest
pytest-cov
python-dotenv
google-genai
google-auth
google-auth-oauthlib
edgartools
hishel==0.0.26
gunicorn
tradingview-screener
beautifulsoup4
lxml
psycopg[binary]
psycopg_pool
scipy
scikit-optimize
debugpy
fredapi
resend
PyYAML
markdown
cloudscraper
